body, html, #root, #root > div {
    height: 100%;
}
.App {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#e42f2f, #a01010);
}

.start-button {
    background: url('ok_idle.png');
}

.start-button:active {
    background: url('ok_pressed.png');
}
.start-button,
.start-button:active {
    width: 5em;
    height: 5em;
    border: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
