body, html, #root, #root > div {
    height: 100%;
    font-family: Calibri;
}

.flex1 {
    display: flex;
    flex: 1 1 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-justify-stretch {
    display: flex;
    justify-content: stretch;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.App {
    color: white;
    font-size: 17px;
    height: 100%;
    text-align: center;
    background: linear-gradient(#e42f2f, #a01010);
}

.welcome-title,
.button-container {
    margin: 20px;
}

.start-button {
    background: url('assets/ok_idle.png');
}

.start-button:active {
    background: url('assets/ok_pressed.png');
}
.swap-button {
    background: url('assets/swap_idle.png');
}
.swap-button:active {
    background: url('assets/swap_pressed.png');
}
.start-button,
.start-button:active {
    width: 5em;
    height: 5em;
    border: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.swap-button,
.swap-button:active {
    width: 6em;
    height: 2.5em;
    border: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.transmit-extra {
    font-size: 10px;
}
.transmit {
    font-size: 16px;
}

/* Loading animation */
@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
.loading.big {
    font-size: 100px;
    line-height: 10px;
}
.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.loading span:nth-child(2) {
    animation-delay: .2s;
}
.loading span:nth-child(3) {
    animation-delay: .4s;
}

.top-bar {
    width: 100%;
}

.top-bar div {
    padding: 10px;
}

.top-bar.name {
    text-shadow: 2px 2px 2px;
}

.part-left {
    padding-right: 10px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}